@use "../../var";
@import "../../mixins";

.be-heard {
	min-height: 30vw;
	margin: 5rem 0;
	transform: skewY(10deg);
	height: 15rem;
	z-index: 2;
	background-color: var.$primary-light;
	.content {
		z-index: 2;
		transform: skewY(-10deg);
		text-align: center;
		padding: 2rem;
		* {
			color: var.$bg;
		}
	}
}
.be-heard::before {
	content: "";
	width: 100%;
	height: 25rem;
	position: absolute;
	background-color: var.$primary-default;
	transform: skewY(-20deg);
	z-index: 1;
}
.be-heard,
.be-heard::before {
	box-shadow: 0px 2px 5px 2px rgba(0, 0, 0, 0.2);
}
