@use "../../var";
@import "../../mixins";

@media (max-width: 768px) {
	.how-it-works {
		.steps {
			.step {
				@include flex-container(column, center, center, wrap);

				.text {
					height: 100%;
					@include flex-container(column, flex-start, flex-start, nowrap);
					justify-content: flex-start;
					max-width: 15rem;
					h2 {
						padding-bottom: 1rem;
					}
				}
				img {
					margin: 1rem 2rem;
					height: 12rem;
				}
			}
		}
	}
}
@media (min-width: 768px) {
	.how-it-works {
		.steps {
			.step {
				@include flex-container(row, center, center, nowrap);
				.text {
					height: 100%;
					@include flex-container(column, flex-start, flex-start, nowrap);
					justify-content: flex-start;
					max-width: 15rem;
					h2 {
						padding-bottom: 1rem;
					}
				}

				img {
					margin: 1rem 2rem;
					height: 16rem;
				}
			}
		}
	}
}
