@use "../../var";
@import "../../mixins";

.landing-view {
	padding: 10rem 1rem;
	height: calc(100vh - 5rem);
	@include flex-container(row, space-evenly, center, wrap);
	.container {
		box-shadow: 0 0px 80px -20px var.$primary-dark;
		@include flex-container(row, flex-start, center, nowrap);
	}
	img {
		border: 12px solid var.$primary-default;
		box-shadow: 5px 0 10px -8px var.$dark;
	}
	.content {
		padding: 1rem;
		width: 100%;
		padding-left: 1rem;
	}
	h1 {
		padding: 1rem;
		text-align: right;
		color: var.$text;
		padding: 1rem;
		border-radius: 0.5rem 0.5rem 0 0;
	}
}

@media only screen and (min-width: 0px) and (max-width: var.$screen_M) {
	.landing-view {
		.container {
			border-radius: 4rem 2rem;
		}
		img {
			width: max(8rem);
			border-radius: 4rem 4rem 4rem 2rem;
		}
	}
}
@media only screen and (min-width: var.$screen_M) {
	.landing-view {
		.container {
			border-radius: 6rem 2rem;
		}
		img {
			width: min(12rem);
			border-radius: 6rem 6rem 6em 2rem;
			z-index: 3;
		}
	}
}

.typed-text {
	display: inline;
	min-width: 1px;
	min-height: 4rem;
}
#cursor {
	display: inline-block;
	height: 2rem;
	padding: 1px;
	background-color: var.$text;
	animation: blink 1s infinite linear;
	&.typing {
		animation: none;
	}
}

@keyframes blink {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
}
.landing-view {
	min-height: 100vh;
	position: relative;
	padding-top: 0;
	justify-content: center;
	.landing-grid {
		display: -ms-grid;
		display: grid;
		gap: 0.5rem;
		padding-bottom: 3rem;
		h1 {
			padding-bottom: 0;
			text-align: left;
		}
		.subtext {
			margin: 0;
			max-width: 25rem;
			p {
				text-align: left;
			}
			.typing {
				text-align: left;
				min-height: 8rem;
			}
		}
		.download-buttons {
			margin-right: auto;
			margin-left: 0;
		}
	}
	.learn-more {
		bottom: 0;
		left: 0;
		right: 0;
		margin: 0 auto;
		text-align: center;
		i {
			font-size: var.$XL;
		}
	}
}
@media (max-width: 576px) {
	.landing-view {
		padding: 1rem;
		.landing-grid {
			grid-template-rows: auto auto auto auto;
			-ms-grid-rows: auto auto auto auto;
			h1 {
				text-align: center;
				font-size: var.$XL;
				-ms-grid-row: 1/2;
				grid-row: 1/2;
			}
			.phone-check {
				-ms-grid-row: 2/3;
				grid-row: 2/3;
				width: min(100%, 20rem);
				margin: 0 auto;
				padding: 0 0.5rem;
			}
			.subtext {
				-ms-gris-row: 3/4;
				grid-row: 3/4;
				text-align: center;
				margin: 0 auto;
				h2 {
					font-size: var.$L;
				}
				p {
					max-width: 20rem;
				}
				.typing {
					min-height: 6rem;
				}
			}
			.download-buttons {
				-ms-grid-row: 4/5;
				grid-row: 4/5;
				margin: 1rem auto;
			}
		}
	}
}
@media (min-width: 576px) and (max-width: 768px) {
	.landing-view {
		.landing-grid {
			-ms-grid-rows: auto auto auto auto;
			-ms-grid-column: 1fr 1fr;
			grid-template-rows: auto auto auto auto;
			grid-template-columns: 1fr 1fr;

			h1 {
				text-align: center;
				-ms-grid-row: 1/2;
				-ms-grid-column: 1/3;
				grid-row: 1/2;
				grid-column: 1/3;
			}
			.phone-check {
				-ms-grid-row: 2/3;
				-ms-grid-column: 1/2;
				grid-row: 2/3;
				grid-column: 1/2;

				width: min(100%, 20rem);
				margin: 0 auto;
				padding: 0 0.5rem;
			}
			.subtext {
				-ms-grid-row: 2/3;
				-ms-grid-column: 2/3;
				grid-row: 2/3;
				grid-column: 2/3;

				text-align: center;
				@include flex-container(column, center, flex-start, nowrap);
				p {
					max-width: 20rem;
				}
			}
			.download-buttons {
				-ms-grid-column: 1/3;
				-ms-grid-row: 3/4;
				grid-row: 3/4;
				grid-column: 1/3;
				align-self: center;
				margin-left: auto;
			}
		}
	}
}
@media (min-width: 768px) {
	.landing-view {
		.landing-grid {
			grid-template-rows: min-content min-content min-content;
			grid-template-columns: 1fr 1fr;
			-ms-grid-rows: auto auto auto;
			-ms-grid-columns: auto auto;

			h1 {
				-ms-grid-column: 2/3;
				-ms-grid-row: 1/2;
				grid-row: 1/2;
				grid-column: 2/3;
				align-self: flex-end;
				justify-content: flex-start;
				margin-right: auto;
				width: 100%;
			}
			.phone-check {
				-ms-grid-row: 1/3;
				-ms-grid-column: 1/2;
				grid-row: 1/4;
				grid-column: 1/2;
				width: min(100%, 30rem);
				justify-content: flex-end;
				justify-self: flex-end;
				float: right;
				align-self: center;
				margin-right: 2rem;
			}
			.subtext {
				-ms-grid-row: 2/3;
				-ms-grid-column: 2/3;
				grid-row: 2/3;
				grid-column: 2/3;
			}
			.download-buttons {
				-ms-grid-column: 2/3;
				-ms-grid-row: 3/4;
				grid-column: 2/3;
				grid-row: 3/4;
			}
		}
	}
}
