@use "../../var";
@import "../../mixins";
.legendary-groups {
	.title {
		margin: 0 auto;
	}
	.icons {
		@include flex-container(row, center, center, wrap);
		.group {
			padding: 3vw;
			@include flex-container(column, center, center, nowrap);
			img {
				margin: 1rem;
				height: 4rem;
			}
		}
	}
}
@media (max-width: 768px) {
	.legendary-groups {
		.title {
			margin: 0 auto;
		}
		.icons {
			@include flex-container(column, center, center, wrap);
			.group {
				padding: 3vw;
				@include flex-container(column, center, center, nowrap);
				img {
					margin: 1rem;
					height: 4rem;
				}
			}
		}
	}
}
@media (min-width: 768px) {
	.legendary-groups {
		.title {
			margin: 0 auto;
		}
		.icons {
			@include flex-container(row, center, center, wrap);
			.group {
				padding: 3vw;
				@include flex-container(column, center, center, nowrap);
				img {
					margin: 1rem;
					height: 4rem;
				}
			}
		}
	}
}
