@use "../../var";
@import "../../mixins";
.security {
	background: linear-gradient(
		var.$accent1-dark,
		var.$accent1-default,
		var.$accent1-light,
		transparent
	);
	h2 {
		color: var.$bg;
		padding: 2rem 0.5rem;
	}
	.security-img {
		width: min(100%, 25rem);
	}
	p {
		background-color: var.$bg;
		padding: 1rem;
		border-radius: 0.5rem;
		box-shadow: 0px 2px 5px -2px rgba(0, 0, 0, 0.3);
	}
}

@media (max-width: 768px) {
	.security {
		padding: 2rem;
		.content {
			padding-top: 2rem;
			.security-img {
				margin-top: 2rem;
			}
			p {
				flex: 1;
				max-width: 50ch;
				margin: 2rem auto;
			}
		}
	}
}
@media (min-width: 768px) {
	.security {
		.content {
			padding-top: 2rem;
			@include flex-container(row, center, center, nowrap);

			p {
				flex: 1;
				min-width: 20ch;
				max-width: 40ch;
				margin-right: 2rem;
			}
		}
	}
}
