@use "../../var";
@import "../../mixins";

.sign-up {
	@include flex-container(row, center, center, wrap);
	padding: 2rem;
	.download-buttons {
		width: min(100%, 30rem);
	}
	.devices {
		width: min(100%, 30rem);
		padding: 2rem;
	}
}

// @media (max-width: 576px) {
// }
// @media (min-width: 576px) and (max-width: 768px) {
// }
// @media (min-width: 768px) {
// }
