@use "../../var";
@import "../../mixins";
.testimonials {
	@include flex-container(row, center, center, nowrap);
	.testimonial {
		.header {
			@include flex-container(row, flex-start, center, nowrap);
			.picture {
				height: 4rem;
				width: 4rem;
				border-radius: 2rem;
				background-color: var.$accent1-default;
			}
			.text {
				padding-left: 1rem;
			}
		}
		.body {
			padding-top: 1rem;
		}
		.footer {
			padding-top: 1rem;
			color: var.$text-secondary;
		}
	}
}
@media (max-width: 576px) {
	.testimonials {
		.testimonial {
			max-width: 18rem;
		}
	}
}
@media (min-width: 576px) and (max-width: 768px) {
	.testimonials {
		.testimonial {
			max-width: 22rem;
		}
	}
}
@media (min-width: 768px) {
	.testimonials {
		.testimonial {
			max-width: 35rem;
		}
	}
}
