@use "../../var";
@import "../../mixins";

.projects-container {
	width: 100%;
	@include flex-container(column, flex-start, center, nowrap);
	.project {
		background: rgba(255, 255, 255, 0.35);
		box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
		backdrop-filter: blur(3px);
		-webkit-backdrop-filter: blur(3px);
		border-radius: 1rem;
		padding: 1rem;
		width: min(80%, 50rem);
		margin: 1 auto;
		.header {
			@include flex-container(row, flex-start, center, wrap);
			.project-img {
				height: 5rem;
				margin: 1rem;
				border-radius: 1rem;
			}
		}
		.content {
		}
		.tags {
			padding: 1rem 0;
			@include flex-container(row, flex-start, flex-start, wrap);
			li {
				padding: 0.25rem 0.5rem;
				border-radius: 0.25rem;
				margin-inline-end: 0.25rem;
				background-color: var.$accent1-dark;
				color: var.$text;
			}
		}
	}
}
