@use "../var";
@import "../mixins";
#small-header {
	width: 100%;
	height: 2rem;
	a {
		position: absolute;
		top: 0;
		left: 0;
		transform: translate(50%, 50%);
		padding: 1rem;
		@include flex-container(row, flex-start, center, nowrap);
		img {
			height: 2rem;
			width: 2rem;
		}
		h6 {
			margin-left: 0.5rem;
		}
	}
}
#header {
	transition: all 200ms linear;
	left: 0;
	top: 0;
	z-index: 100;
	width: 100%;
	max-width: 100vw;
	padding: 0.5rem 2rem;
	position: fixed;
	&.scrolled {
		transition: all 200ms linear;
		z-index: 20;
		position: fixed;
		background-color: var.$primary-default;
		.header-content {
			@include flex-container(row, space-between, center, nowrap);
			width: 100%;
			.logo-link {
				#logo-white {
					display: block;
					opacity: 1;
					transition: all 200ms linear;
				}
				#logo-color {
					display: hidden;
					opacity: 0;
					transition: all 200ms linear;
				}
			}
			#navigation-links {
				a {
					transition: all 100ms linear;
				}
				a:hover {
					text-decoration: underline;
					text-decoration-color: var.$bg;
					padding-bottom: 0.25rem;
					transition: all 100ms linear;
				}
			}
			.menu {
				color: var.$bg;
				background-color: transparent;
			}
			.buttons {
				transition: all 200ms linear;
				.primary {
					background-color: var.$bg;
					border-color: var.$border;
					p {
						color: var.$primary-default;
					}
					&:hover {
						background-color: var.$fg;
					}
				}
				.secondary {
					border-color: var.$border;
					p {
						color: var.$bg;
					}
					&:hover {
						background-color: var.$primary-light;
					}
				}
			}
		}
	}
	.header-content {
		max-width: 80rem;
		margin: 0 auto;
		@include flex-container(row, space-between, center, nowrap);
		.logo-link {
			width: 2rem;
			height: 2rem;
			z-index: 14;
			position: relative;
			.logo {
				height: 100%;
				width: 100%;
				z-index: 13;
				position: absolute;
			}
			#logo-white {
				display: hidden;
				opacity: 0;
				transition: all 200ms linear;
			}
			#logo-color {
				display: block;
				opacity: 1;
				transition: all 200ms linear;
			}
		}
		#navigation-links {
			z-index: 11;
			a {
				padding: 0 0.75rem;
				transition: all 100ms linear;
			}
			a:hover {
				color: var.$text;
				text-decoration: underline;
				padding-bottom: 0.25rem;
				transition: all 100ms linear;
			}
		}
		#behind-navigation-links {
			opacity: 0.3;
			position: fixed;
			top: 0;
			left: 0;
			width: 100vw;
			height: 100vh;
			z-index: 10;
			display: none;
		}
		.logo-link:hover {
			padding-bottom: 0;
			text-decoration: none;
		}
		.menu {
			background-color: var.$bg;
			z-index: 13;
		}
		.buttons {
			transition: all 200ms linear;

			z-index: 13;
			a {
				z-index: 13;
			}
		}
	}
}
@media (max-width: 576px) {
	#header {
		.header-content {
			#navigation-links {
				display: none;
				position: fixed;
				bottom: 0;
				right: 0;
				z-index: 11;
				background-color: var.$bg;
				padding: 0.5rem 1rem;
				border-radius: 0.5rem;

				margin-right: 1rem;
				margin-bottom: 6rem;
			}
			#behind-navigation-links {
				background-color: var.$bg-dark;
			}
		}
	}
	#header,
	#header.scrolled {
		.header-content {
			.menu {
				position: fixed;
				bottom: 0;
				right: 0;
				padding: 0.5rem;
				border-radius: 50%;
				border: 1px solid var.$border;
				background-color: var.$fg;
				margin: 1rem;
				margin-bottom: 2rem;
				color: var.$text;
				@include flex-container(column, center, center, nowrap);
			}
		}
	}
}
@media (min-width: 576px) and (max-width: 800px) {
	#header {
		z-index: 10;
		.header-content {
			.logo-link {
				width: 3rem;
				height: 3rem;
			}
			#navigation-links {
				display: none;
				position: fixed;
				transform: translate(-5rem, 5rem);
				top: 0;
				right: 0;
				z-index: 10;
				background-color: var.$bg;
				padding: 0.5rem 1rem;
				border-radius: 0.5rem;
				right: 0;
				box-shadow: 0px 2px 5px 2px rgba(0, 0, 0, 0.2);
			}
			#behind-navigation-links {
				display: none;
			}
			.menu {
				margin-left: auto;
				margin-right: 1rem;
			}
		}
	}
}
@media (min-width: 800px) {
	#header {
		.header-content {
			.logo-link {
				width: 3rem;
				height: 3rem;
			}
			#navigation-links {
				display: block;
				@include flex-container(row, center, center, nowrap);
				box-shadow: none;
			}
			#behind-navigation-links {
				display: none;
			}
			.menu {
				display: none;
			}
		}
	}
	#header.scrolled {
		.header-content {
			#navigation-links {
				p {
					color: var.$bg;
				}
			}
		}
	}
}
