@use "../var";
@media screen and (min-width: 577px) {
	.sticky-container {
		min-height: 100vh;
		@include flex-container(column, center, center, nowrap);
		margin: 0 auto;
		position: relative;
		padding: 0;
	}
	.sticky {
		height: 100vh;
		width: 50%;
		float: left;
		position: absolute;
		left: 0;
		@include flex-container(column, center, center, nowrap);
	}
	.sticky.fixed {
		position: fixed;
		top: 0;
		left: 0;
	}
	.sticky.top {
		top: 0;
	}
	.sticky.bottom {
		bottom: 0;
		margin-top: auto;
	}

	.scrolling {
		float: right;
		width: 50%;
		margin-left: auto;
		padding: 1rem;
		padding-right: 4rem;
		@include flex-container(column, center, space-between, nowrap);
		.scroll-section {
			min-height: 100vh;
			@include flex-container(column, center, flex-start, nowrap);
		}
		&.test {
			height: 400vh;
		}
	}
}

@media screen and (max-width: 576px) {
	.sticky-container {
		min-height: 100vh;
		margin: 0 auto;
		position: relative;
		padding: 0;
		// background-color: red;
	}
	.sticky {
		width: 100%;
		height: 50vh;
		top: 0;
		bottom: 0;
		position: absolute;
		background-color: var.$fg;
		background-color: green;
		// background-color: yellow;
		@include flex-container(column, center, center, nowrap);
	}
	.sticky.fixed {
		position: fixed;
		top: 0;
		background-color: purple;
	}
	.sticky.top {
		top: 0;
		background-color: yellow;
	}
	.sticky.bottom {
		position: absolute;
		bottom: 0;
		background-color: red;
	}

	.scrolling {
		width: 100%;
		padding: 1rem;
		margin-top: 50vh;
		@include flex-container(column, center, space-between, nowrap);
		.scroll-section {
			min-height: 60vh;
			@include flex-container(column, center, center, nowrap);
		}
	}
}
