@use "../var";
@import "../mixins";

.about-us-page {
	margin: 0 auto;
	padding-top: 6rem;

	.sponsors-section,
	.founder-section,
	.mission {
		max-width: 50rem;
		margin: 0 auto;
		justify-content: center;
		padding: 2rem;
		h3 {
			text-align: center;
			padding-bottom: 1rem;
		}
	}

	.sponsors-section {
		.sponsors {
			@include flex-container(row, space-evenly, flex-start, wrap);
			margin: 0 auto;
			.sponsor {
				margin-top: 2rem;
				flex: 1;
				padding: 1.5rem;
				@include flex-container(column, flex-start, center, nowrap);
				img {
					height: 8rem;
				}
				p {
					text-align: center;
					color: var.$text-secondary;
					width: 70%;
					padding: 2rem 0;
				}
			}
		}
	}
	.founder-section {
		padding-bottom: 5rem;
		.founder-wrapper {
			margin: 0 auto;
			@include flex-container(row, center, center, wrap);
			.founder-card {
				margin: 0.5rem auto;
				flex: 1;
				max-width: 30rem;
				min-width: 15rem;
				padding: 1rem;
				.header {
					flex: 1;
					@include flex-container(row, center, center, wrap);
					padding: 0.5rem 1rem;
					.founder-img {
						height: 6rem;
						border-radius: 3rem;
						margin: 1rem;
						box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.5);
					}
					.top {
						@include flex-container(row, flex-start, center, wrap);
					}
					h5,
					a {
						display: inline;
					}
					i {
						margin: auto 0.5rem;
						font-size: 1rem;
					}
				}
				p {
					padding-top: 1rem;
				}
			}
		}
	}
}

@media (max-width: 786px) {
	.about-us-page {
		.section {
			.sponsor-section {
				.sponsors {
					@include flex-container(column, flex-start, center, nowrap);
					.sponsor {
						min-width: 15rem;
						padding: 0.5rem;
						@include flex-container(column, flex-start, center, nowrap);
						img {
							width: 10rem;
						}
					}
				}
			}
			.founder-section {
				.founder-wrapper {
					@include flex-container(column, space-evenly, center, wrap);
				}
			}
		}
	}
}
