.landing-page {
	@import "../sections/landing/landingView";
	@import "../sections/landing/legendaryGroups";
	@import "../sections//landing/product";
	@import "../sections/landing/howItWorks";
	@import "../sections/landing/testamonials";
	@import "../sections/landing/beHeard.scss";
	@import "../sections/landing/signUp";
	@import "../sections/landing/security";
}
