@use "./var";
@import "./mixins";

#about-me {
	.content {
		@include flex-container(row, center, flex-start, wrap);
		.brendan {
			@include flex-container(column, flex-start, center, nowrap);
			flex: 1;
			img {
				width: 100%;
				max-width: 15rem;
				border-radius: 2rem;
				margin: 1rem auto;
			}
			.bio {
				max-width: 60ch;
				margin: 1rem auto;
			}
		}
		.not-brendan {
			flex: 1;
			#school-container {
				.header {
					flex-direction: row-reverse;
				}
			}
			#skills {
			}
		}
	}
}
