@use "./var";
@import "./mixins";
#projects-menu {
	@include flex-container(row, center, center, wrap);
	max-width: 60%;
}
.project-menu-button {
	padding: 1rem;
	.card {
		padding: 1rem;
		@include flex-container(column, flex-start, center, nowrap);
		min-width: 5rem;
		img {
			height: 3rem;
			border-radius: 0.5rem;
		}
	}
}
#projects-container {
	width: 100%;
	margin-top: 5rem;
	@include flex-container(column, flex-start, center, nowrap);
	.card {
		height: 100%;
	}
}
.project-wrapper {
	min-height: 100vh;
}
