$bg: #000;
$fg: #1b1b1b;
$text: #fff;
$text-secondary: #ffdcdc;
$border: #1f1f1f;
$inactive: #333;
$link: #5d96f1;

$success: #25c448;
$primary-default: #407bd9;
$primary-light: #67abff;
$primary-dark: #254bac;
$accent1-default: #45e97e;
$accent1-light: #66ffa1;
$accent1-dark: #00be65;
$danger: #f00;
$light: #fcfcfc;
$dark: #151515;

$font-fancy: Courgette;
$font-title: Rajdhani, sans-serif;
$font-body: Roboto, sans-serif;
$XXL: 3.5rem;
$XL: 2.5rem;
$L: 2rem;
$M: 1.5rem;
$button: 1.15rem;
$default: 1rem;
$S: 0.75rem;
$XS: 0.5rem;

$Bold-weight: 800;
$SemiBold-weight: 700;
$Medium-weight: 500;
$Default-weight: 400;
$Light-weight: 300;

$screen_S: 480px;
$screen_M: 768px;
$screen_L: 1200px;
$screen_XL: 1600px;
