$bg: #fcfcfc;
$fg: #eeeeee;
$bg-dark: #555555;
$glass: #cccccc50;
$text: #151515;
$text-secondary: #5f5f5f;
$border: rgb(182, 182, 182);
$inactive: #acacac;
$link: #256ee2;
$text-input: #e0e0e0;

$danger: #ff0019;
$urgent: #ff7878;
$success: #50ba6c;
$primary-default: #6840d9;
$primary-light: #8f67ff;
$primary-dark: #3c009f;
$accent1-default: #55bdde;
$accent1-light: #8ed6ff;
$accent1-dark: #0085be;
$accent2-default: #f41690;
$accent2-light: #ff61c0;
$accent2-dark: #bc0063;

$yellow: #c7be55;

$yellow-LO: #fff70770;
$success-LO: #3bed6b70;
$primary-light-LO: #8f67ff70;
$accent2-light-LO: #ff61c070;
$accent1-light-LO: #8ed6ff70;
$primary-light-ULO: #8f67ff20;
$accent2-light-ULO: #ff61c020;
$accent1-light-ULO: #8ed6ff20;

$light: #fcfcfc;
$dark: #151515;

$font-title: "Red Hat Display", sans-serif;
$font-body: "Poppins", sans-serif;

$XXL: 3.5rem;
$XL: 2.5rem;
$L: 2rem;
$M: 1.5rem;
$button: 1.15rem;
$default: 1rem;
$S: 0.75rem;
$XS: 0.5rem;

$Bold-weight: 800;
$SemiBold-weight: 700;
$Medium-weight: 500;
$Default-weight: 400;
$Light-weight: 300;

$screen_S: 480px;
$screen_M: 768px;
$screen_L: 1200px;
$screen_XL: 1600px;
