$bg: #407bd9;
$fg: #28293c;
$text: #fff;
$text-secondary: #cecece;
$border: #6f6f6f;
$inactive: #333;
$link: #5d96f1;

$success: #25c448;
$primary-default: #407bd9;
$primary-light: #5ca0f4;
$primary-dark: #3252a4;
$accent1-default: #53c67b;
$accent1-light: #6be194;
$accent1-dark: #33996a;
$danger: #f00;
$light: #fcfcfc;
$dark: #151515;

$font-fancy: Courgette;
$font-title: Rajdhani, sans-serif;
$font-body: Roboto, sans-serif;
$XXL: 3.5rem;
$XL: 2.5rem;
$L: 2rem;
$M: 1.5rem;
$button: 1.15rem;
$default: 1rem;
$S: 0.75rem;
$XS: 0.5rem;

$Bold-weight: 800;
$SemiBold-weight: 700;
$Medium-weight: 500;
$Default-weight: 400;
$Light-weight: 300;

$screen_S: 480px;
$screen_M: 768px;
$screen_L: 1200px;
$screen_XL: 1600px;
