@use "./var";
@import "./colors";
@import "./mixins";
@import "./typography";

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&family=Red+Hat+Display:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
* {
	box-sizing: border-box;
	font-size: 16px;
}
html {
	margin: 0;
	padding: 0;
	overflow-y: scroll;
	scroll-snap-type: y proximity;
	overflow-x: hidden;
	scroll-behavior: smooth;
	width: 100vw;
	height: 100vh;
}

body {
	padding: 0;
	margin: 0;
	overflow-x: hidden;

	background-image: url("/assets/img/background.jpg");
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
}
.page {
	height: 100%;
	margin: 0 auto;
	z-index: 1;
}
*::-webkit-scrollbar {
	width: 0;
	height: 0;
}

li {
	list-style-type: none;
}
a {
	text-decoration: none;
}

.page,
.section,
.section-small {
	.title {
		margin: 0 auto;
		text-align: center;
		padding-bottom: 5rem;
		* {
			text-align: center;
		}
	}
}

.section {
	min-height: 100vh;
	@include flex-container(column, center, center, nowrap);
	margin: 0 auto;
	scroll-snap-align: start;
	&.sticky-container {
		// @include flex-container(row, center, flex-start, nowrap);
		position: relative;
		padding: 0;
	}
}
.section-small {
	min-height: 50vh;
	@include flex-container(column, center, center, nowrap);
	.title {
		padding-bottom: 2rem;
	}
}

.card {
	background-color: var.$fg;
	padding: 2rem;
	margin: 0.5rem;
	border-radius: 1rem;
	box-shadow: 0px 2px 5px 2px rgba(0, 0, 0, 0.1);
}

@import "./components/page";
@import "./components/stickyScroll";
@import "./pages/landing";
@import "./pages/aboutUs";
@import "./pages/communities";
@import "./components/footer";
@import "./components/header";
@import "./components/buttons";
@import "./components/icons";
@import "./components/legal";
// @use "../var";
// @import "../mixins";
// @media (max-width: 576px) {
// }
// @media (min-width: 576px) and (max-width: 768px) {
// }
// @media (min-width: 768px) {
// }
